@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/top-bar";
@import "components/card";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/sidebar";

.container.main {
  display: flex;
  padding: 40px 10px;

  .main {
    flex: 1;
  }
}
