.btn {
  padding: 10px 15px;
  border-radius: $default-border-radius;
  border: 0;

  &.green {
    background-color: $color-primary;
    color: $color-white;
  }

  &.white {
    background-color: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;
  }
}
